<h2> Add a new photo</h2>
<form [formGroup]="imageUploaderForm">
    <div class="input">
        <label for="label">
            Label
        </label>
        <input type="text" placeholder="Potato" name="label" formControlName="label">
    </div>
    <div class="input">
        <label for="url">
            Photo URL
        </label>
        <input type="url" placeholder="Image URL" name="url" formControlName="imageUrl">
    </div>
    <span *ngIf="error" class="error">{{error}}</span>
    <div class="buttons">
        <button class="cancel" (click)="closePopup()">Cancel</button>
        <button class="submit" (click)="uploadImage()">Submit</button>
    </div>
</form>